* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  background-color: #81e6d9;
}

#head {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

#head p {
  font-weight: bold;
  align-self: center;
}

#head img {
  width: 55px;
  height: 80px;
  margin-left: auto;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0px 80px 0px;
}

#container p {
  font-size: large;
  margin-bottom: 10px;
  text-align: center;
}

#btnContainer {
  display: flex;
}

button {
  border: none;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 30px 15px;
  border-radius: 5px;
  font-size: medium;
}

button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px rgb(34, 34, 34);
}

#inputTextarea,
#outputTextarea {
  resize: none;
  border: none;
  width: 75vw;
  height: 25vh;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.555);
}

#output {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#outputTextarea {
  font-weight: bold;
}

audio {
  width: 75vw;
  margin: 20px 0px;
  border-radius: 5px;
}

#alertModal {
  display: none;
  background-color: rgb(255, 30, 30);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  justify-self: center;
  width: 250px;
  margin: 10px 0px;
  padding: 5px 0px;
}

#alertModal h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heartIcon {
  width: 20px;
  height: 20px;
}

#iconAttribution {
  color: rgb(162, 0, 255);
  margin: 5px 0px;
  font-weight: bold;
}

#socialFooter {
  display: flex;
  justify-content: center;
}

.icons {
  width: 30px;
  height: 30px;
  margin: 0px 1px;
  border-radius: 5px;
}

.icons:hover {
  box-shadow: 1px 1px 2px 1px rgb(34, 34, 34);
}

@media (min-width: 450px) {
  #head {
    width: 65vw;
  }
  #input textarea,
  #output textarea {
    height: 25vh;
    margin: 0px 10px;
  }
  .icons {
    margin: 0px 5px;
  }
}

@media (min-width: 600px) {
  #head {
    width: 50vw;
  }
  #head img {
    margin-left: 50px;
  }
  #input textarea,
  #output textarea {
    width: 50vw;
    height: 30vh;
    margin: 0px 15px;
  }
  audio {
    width: 50vw;
  }
}
